$backgroundcolor: #fff;
$color: #333;
$backgroundimage: url('./assets/pattern-bg-desktop.png');

body {
  background-color: $backgroundcolor;
  color: $color;
  overflow-x: hidden;
}
.header{
background-image: $backgroundimage;
background-repeat: no-repeat;
background-size: cover;
height: 270px;
width: 2000px;
margin-left: -350px;
  
}