$background-color: red;
$white: #fff;
$color: #333;
$backgroundimage: url('./assets/pattern-bg-desktop.png');

@mixin header3 {
  font-size: 16px;
  font-weight: 700;
  color: hsl(0, 0%, 59%);
  margin-top: -40px;
  margin-left: 20px;
}
@mixin details-card{
  width: 200px;
  background-color: red;
}

body {
  color: $color;
  overflow-x: hidden;
}
.header{
background-image: $backgroundimage;
background-repeat: no-repeat;
background-size: cover;
height: 270px;
width: 2000px;
margin-left: -350px;
  
}
input {
  width: 500px;
  height: 55px;
  padding: 20px;
  border: none;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
 
}
.input{
  margin-left: 700px;
  align-items: center;
  justify-content: center;
  width: 500px;
  padding-top: 80px;

  
}
.arrow{
  background-color:#000;
  width: 50px;
  position: relative;
  left: 500px;
  top: -55px;
  height: 55px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 10px;
  color: white;
  cursor: pointer;
}
.arrow img{
  width: 10px;
  height: 10px;
}
.details{
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  align-items: center;
  background-color:$white;
  margin-top: -90px;
  height: 180px;
  padding: 10px;
  border-radius: 12px;
  margin-left: -20px;
  


}
.details h3{
  @include header3;
}
.rectangle{
  width: 1px;
  height: 100px;
  background-color: hsl(0, 0%, 59%);
  border-radius: 12px;
  margin-top: 20px;
  margin-left: 20px;
}
