$background-color: red;
$white: #fff;
$color: #333;
$backgroundimage: url('./assets/pattern-bg-desktop.png');

@mixin header3 {
  font-size: 16px;
  font-weight: 700;
  color: hsl(0, 0%, 59%);
  margin-top: -40px;
  margin-left: 20px;
}
@mixin details-card{
  width: 200px;
  background-color: red;
}

body {
  background-color: $background-color;
  color: $color;
  overflow-x: hidden;
}
.header{
background-image: $backgroundimage;
background-repeat: no-repeat;
background-size: cover;
height: 270px;
width: 2000px;
margin-left: -350px;
  
}
input {
  width: 500px;
  height: 50px;
  padding: 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
 
}
.input{
  margin-left: 700px;
  align-items: center;
  justify-content: center;
  width: 500px;
  padding-top: 80px;

  
}
.details{
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  align-items: center;
  background-color:aqua;
  margin-top: -90px;
  height: 180px;
  padding: 10px;
  border-radius: 12px;
  


}
.details h3{
  @include header3;
}
.rectangle{
  width: 20px;
  height: 100px;
  background-color: red;
  border-radius: 12px;
  margin-top: 20px;
  margin-left: 20px;
}
